.container > div > h2 {
    @apply text-3xl text-white font-semibold mb-6;
}

.info {
    @apply max-w-lg;
}

.cards {
    @apply flex flex-col gap-4 mt-10;
}

.card {
    @apply flex gap-8;
    @apply xl:flex-row lg:flex-row flex-col;
}

.card > img {
    @apply w-80 rounded-lg;
    @apply xl:w-80 lg:w-80 w-full;
}

.section {
    @apply flex-1 flex flex-col gap-6;
}

.tags {
    @apply flex items-center gap-4;
}

.tags > span {
    @apply px-4 py-1 font-medium bg-indigo-500 text-white rounded-lg;
}

.section > h2 {
    @apply text-2xl text-white font-semibold;
}