@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  user-select: none;
  /* font-family: "Inter", sans-serif; */
  font-family: "Inter", sans-serif;
  font-family: "Vazirmatn", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;

  --text-body: #4b5563;
  --text-heading: #485a83;

  --line-color: #e5e7eb;
}

.dark {
  --bg-primary: #030712;
  --bg-secondary: #1f2937;

  --text-body: #9ca3af;
  --text-heading: #ffffff;

  --line-color: #374151;
}

body {
  @apply bg-primary text-body;
  transition: background 200ms;
}

body::-webkit-scrollbar {
  display: none;
}

html[lang="fa"] {
  text-align: right;
}

#skills,
#portfolio,
#contact {
  @apply scroll-m-28;
}

#about {
  @apply scroll-m-10;
}
